.center {
  margin-left: 350px;
  font-size: 30px;
}

.header_left {
  width: 70px;
  margin-left: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header_right {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 300px;
}

#top {
  border: 1px solid;
  height: 70px;
  background-color: rgb(18, 18, 84);
  color: aliceblue;
}
.header {
  margin-top: 10px;
}

button{
  border-radius: 10px;
  padding: 5px;
  background-color: mediumorchid;
  color: aliceblue;
}
